body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.scorebox {
    background: black;
    width: 120px;
    height: 75px;
    margin-top: -30px
    
}
h3 {
    font-size: 34px;
    font-family: 'Verdana';
    
}
h2 {
    color: red;
    text-align: center;
    align-content: center; 
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 50px;
    padding: 10px;
}

button {
    margin-top: 10px;
    margin-right: 5px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    box-sizing: border-box;
}